.skillbar{

    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;

}

    .skillbar h3{

        padding-right: 2em;
        display: inline-block;
        width: 8em;

    }

    .skillbar progress{
        width: 50%;
        height: 3vh;
        margin-right: 2em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

        /* Determinate */
        .skillbar progress[value] {
            /* Reset the default appearance */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        /* Indeterminate */
        .skillbar progress:not([value]) {
            /* Reset the default appearance */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .skillbar progress::-webkit-progress-value {
            background-color: #FF7200 !important;
            border-radius: 25em;
        }

        .skillbar progress::-webkit-progress-bar {
            background: whitesmoke;
            border-radius: 25em;
        }

    .skillbar p{
        padding: 1em;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1em;
    }